html,
body,
#storybook-root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Override centering from index.css if necessary */
body {
    display: block;
    place-items: initial;
}